<html>
        <head>
                <link rel="stylesheet" type="text/css" href="static/css/styles.css">
                <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
                <!-- <script type="text/javascript" src="static/js/script.js"></script> -->
                <script type="text/javascript">
                        $(document).ready(function() {
                                $("#add").click(function() {
                                        var user = $('input[name="st"]').val();
                                        $.post("add_user", {"user": user});
				});
				$("#exist").click(function() {
                                        var user = $('input[name="ab"]').val();
                                        $.post("check_username", {"exist": user}, function(data) {
					    alert(data);
					});
	
                                });
                        });
                </script>
        </head>

        <body>
                <label><b>Find Username</b></label><br>
                <input type="text" placeholder="user name" name="st" required><br>
                <input type="button" id="add" value="Add To Database"><br>

		<input type="text" placeholder = "exists" name = "ab" required><br>
		<input type="button" id ="exist" value="Check Existence">
		
		
        </body>
</html>

